{% extends 'layout.njk' %}

{% import "parts/card.njk" as cards %}


{% block content %}
    
    {# tudo que estiver aqui dentro será colocado dentro do caller no card.njk #}
    {# render( 'Meus Anúncios - é o título', 'users-ads container' - são as classes ) #}
    
    {% call cards.render('', 'orders-error container') %}

        <div class="error-lottie"> </div>
        
        <h2>Ops! ☹️  </h2>
        <p>
            Não conseguimos processar o seu pedido.
        </p>
        {# history.back() é nativo do próprio JS, vai voltar a página #}
        <a href="#" onClick="history.back()">Tente novamente</a>

    {% endcall %}


    <script src="/lottie.min.js"></script>

    <script>
        
        const element = document.querySelector('.error-lottie');

        lottie.loadAnimation({
            container: element,
            renderrer: 'svg',
            loop: true,
            autoplay: true,
            path: '/error.json'
        });
    </script>

{% endblock content %}